<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1481391564276-da6fcacaee31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2500&q=80);">
  <div class="container">
   <h1><%= @cocktail.name %></h1>
   <table class="table table-bordered">
     <tbody>
       <tr>
         <th scope="row">Name</th>
         <td><%= @cocktail.name %></td>
       </tr>
     </tbody>
   </table>

   <div class="list-group">
     <% @cocktail.doses.each do |dose| %>
     <li class="list-group-item">
       <p><%= dose.description %></p>
       <p><%= dose.ingredient.name %></p>
     </li>
     <% end %>
   </div>
   <%= simple_form_for [@cocktail, @dose] do |f| %>
   <%= f.input :description %>
   <%= f.association :ingredient %>
   <%= f.submit class: 'btn btn-primary' %>
   <% end %>
   <br>
 </div>
 <div class="button-alignment">
  <div class="button">
   <%= link_to "See all cocktails", cocktails_path, class: 'btn btn-danger' %>
  </div>
   <br>
   <div class="button">
   <%= link_to "Back to home page", cocktails_path, class: 'btn btn-danger' %>
   </div>
 </div>
</div>
</div>
</div>
